<h1>Editing Trip participation</h1>
Trip <%= h @trip.name %> departing on <%= h @trip.departure_date %>

<% form_for @participation do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :Role %><br />
    <%= f.text_field :name %>
    <br/>
    <%= f.label 'Leaving on date (MM/DD/YYYY)' %>
    <%= f.text_field :travel_date %>
  </p>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :trip_id %>
  <p>
  <%= f.label 'Pick a profile for this trip' %><br />
  <%= f.select( :profile_id, @user.profiles.collect{ |p| [p.name,p.id]}, {:include_blank=>'None'} ) unless @user.profiles.blank? %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @participation %> |
<%= link_to 'Back', participations_path %>
