
<table id="trip">
<thead>
  <tr>
  <th colspan=5> Participates in these trips: </th>
  </tr></thead><tbody>
  <tr class="alt"> <th width="60%"> Trip Name </th>
  <th>Profile used </th>
   <th> Departure Date </th> <th> Days in duration </th> 
    <th>Changes</th>
  </tr>
  
  <tr>
  
<% @participations.each do |part| %>
<% trip = part.trip %>
  <tr>
    <td><%= link_to trip.name, trip %></td>
    <td><% @profile= Profile.find(part.profile_id) unless part.profile_id.blank? %>
    <%= @profile.name unless @profile.blank? %>
    </td>
    <td><%= part.traveldate %></td>
    <td><%= trip.duration %></td>
    
 
    <td><%= part_change_links(part) %></td>
  </tr> </tbody>
<% end %>
<table>

