<OL>
<% @participations.each { |p| %>
    <LI><B>
    <%= p.name %>
    <%= p.user.handle %>
    &lt;<%= p.user.email %>&gt;</B>
    arrives: <%= p.travel_date %>
    <% if p.user_id == current_user().id %>
      (<I> <%= link_to h(p.profile.name), p.profile %> </I>)
    <% end %>
    </LI>
<% } %>
</OL>

