<OL>
<% @participations.each { |p| %>
<LI><B>
<%= p.name %>
<% @user = User.find(p.user_id) %>
<%= @user.first_name %> <%= @user.last_name %>
&lt;<%= @user.email %>&gt;</B>
arrives: <%= p.traveldate %>
<% if p.user_id == current_user().id %>
    <% @profile= Profile.find(p.profile_id) %>
  (<I>
  <%= @profile.name %>
    </I>)
<% end %>
</LI>
<% } %>
</OL>

