<h1>Listing trips</h1>
<table id="trip">
  <thead><tr>
  <th colspan=4> All trips: </th></tr>
  </thead>
  <tbody>
  <tr class="alt"> 
  <th width="60%"> Trip Name </th> <th> Departure Date </th> <th> Days in duration </th>  <th> Changes </th>
  </tr>
<% @trips.each do |trip| %>
  <tr>
    <td><%=link_to  trip.name, trip %></td>
    <td><%= trip.departureDate %></td>
    <td><%= trip.duration %></td>
    <td><%= trip_part_change_links(trip) %></td>
  </tr>
<% end %></tbody>
</table>
<table id="trip">
<thead>
  <tr>
  <th colspan=3> Owns these trips: </th>
  <th>
  <%= link_to 'New trip', new_trip_path %>
  </th>
  </tr></thead><tbody>
  <tr class="alt"> <th width="60%"> Trip Name </th> <th> Departure Date </th> <th> Days in duration </th>
    <th>Changes</th>
  </tr>
<% @owntrips.each do |trip| %>
  <tr>
    <td><%=link_to trip.name, trip %></td>
    <td><%= trip.departureDate %></td>
    <td><%= trip.duration %></td>
    <td><%= trip_part_change_links(trip) %></td>
  </tr>
<% end %></tbody>
</table>
<%= render :partial =>'myparticipations.html', :locals=>{:participations=>@participations} %>


