<table width="80%" cellpadding ="5" rules="groups" frame="box" >
  <tr> <th width="20%" align="right"> Trip Name </th>
    <td> <%= @trip.name %> </td>
    <tr>
      <th align="right">Description</th>
    <td> <%= @trip.description %> </td>
    <tr>
      <th align="right"> Start Date </th>
    <td> <%= @trip.departureDate %> </td>
    <tr>
      <th align="right"> Days in duration </th> 
    <td> <%= @trip.duration %> </td>
      <tbody>
    <tr>
  <th align="right">Participants</th>
    <td align="left">
      <%= render :partial => 'participations',:locals =>{:participations=> @participations } %> 
    </td>
  </tr>
</table>

<h3> Group interests are (highest points=most interest):
</h3>
<% @tagpoints.each { |p,t| %>
<!-- %=	t[1].name%> (<%=t[0] %>), -->
<%} %>
<% @tags.each { |t| %>
<%=	t.name%> (<%=t.points %>),
<%} %>
</p><hr>
Here is a list of locations that may be interesting, with a sample of nearby attractions
<br/>
<% @suggestions.each { |c| %>
<% city= c[:city] %>
Near
<%= h city.name.capitalize %>
<%= city.admin1_code %> at [<%= c[:latlng][0] %>,<%= c[:latlng][1] %>]
[<%= city.latitude %>,<%= city.longitude %>]<%=c[:diff] %>
<%  places= c[:places] %>
<div class="scroll"><table id="trip">
<% places.each { |t| %>
<tr>
  <td width="20%"><%= link_to t.name , t.url %>
   <td width="10%"><%= t.city.capitalize %>, <%= t.state %><td>
   <%= t.use_code %> <td><%= t.use_code1 %>
   <%= t.use_code2 %>
   <td>
   <%= t.loc_code1 %>
   <%= t.loc_code2 %>
   <td><%= t.geonameid %><td>
   SDist=<%= t.sqdist %><Br/>[<%= t.latitude %>,<%= t.longitude %>]<br/>
   <%= t.distance %>/<%=t.diff%>
<% }%></table>
</div>
<% } %><hr>

<% if @trip.owner_id == current_user().id %>
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<% end %>
<%= link_to 'Back', trips_path %>
