<<<<<<< HEAD:app/views/trips/show.html.erb
<table border="1">
  <tr> <th> Trip Name </th> <th> Departure Date </th> <th> Days in duration </th> 
  <th>Participants</hr><tr>
    <td>
<%= @trip.name %>
    </td>
    <td>
<%= @trip.departureDate %>
    </td>
    <td>
<%= @trip.duration %>
    </td>
    <td>
      <%= render :partial => 'participations',:locals =>{:participations=> @participations } %> 
    </td>
  </tr>
</table>
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
=======

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
>>>>>>> 10da8583e5392072805cd13988d0b0c5c92442bd:app/views/trips/show.html.erb
