<% form_for(@profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= hidden_field( :user, :id) %>
    Name: <%= f.text_field :name %><br/>
    Description: <%= f.text_field :description %><br/>
  </p>
  <p>
    <%= f.submit (controller.action_name == 'edit' ? 'Update' : 'Create' ) %>
  </p>
  <%= link_to_function  :onMouseover => "document.getElementById('dropdown').style.display = 'none'"; "document.getElementById('dropdown').style.display = 'block'" %>
  <div id="dropdown">
  </div>
  <div id="options">
  <% Tag.roots.each { |tag| %>
    <%= render :partial => 'tags' , :locals => { :tag => tag } %>
  <% } %>
  </div>
<% end %>
