<% form_for(@profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= hidden_field( :user, :id) %>
    Name: <%= f.text_field :name %><br/>
    Description: <%= f.text_field :description %><br/>
  </p>
  <p>
    <%= f.submit(controller.action_name == 'edit' ? 'Update' : 'Create' ) %>
  </p>
  <div id="dropdown">
  </div>
  <div id="options">
 
  <% Tag.roots.each { |tag| %>
    <%= render :partial => 'tags' , :locals => { :tag => tag } %>
  <br/><% } %>

  </div>
<% end %>
