<h1>Editing profile</h1>

<% form_for(@profile) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= hidden_field( :user, :id) %>
    Name: <%= f.text_field :name %><br/>
    Description: <%= f.text_field :description %><br/>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @profile %> |
<%= link_to 'Back', profiles_path %>