<h1>Welcome back, <%= @user.handle().capitalize() %> </h1>
<% @trips= @user.trips() %>
<% if !@trips.nil? && !@trips.empty? %>
<table id="trip">
<h2>Here are your pending trips</h2>
<% @trips.each do |trip| %>
  <tr>
    <td width="70%"><%= link_to trip.name.capitalize() , trip %></td>
    <td><%= link_to 'Change', edit_profile_path(trip) %></td>
    <td><%= link_to 'Leave', trip, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
</table>
<% end %>
<br />
<h2>Here are your travel profiles</h2>
  <%= link_to 'New', new_user_profile_path(@user.id) %>
<table id="trip">
<% @profiles.each do |profile| %>
  <tr>
    <td width="20%"><%= link_to profile.name.capitalize() , profile %></td>
    <td width="50%"><%= profile.description %>
    <td><%= link_to 'Change', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>



<!-- %= link_to 'New Trip', new_user_trip_path(@user.id) %-->
