<p>Name: <%= @user.handle %> </p>
<p>Email: <%= @user.email %></p>
<p>You have <%= @user.profiles.count %> profiles defined so far.</p>
<p><%= render @user.profiles %>
<%= link_to 'Create a new profile', new_user_profile_path(@user) %></p>
<p><%= link_to 'Edit Personal Information', edit_user_path(@user) %>
