<% form_for(@tag) do |f| %>

<span>New tag  
  <% if !@tag.parent.nil? %>
  under
  <EM><%= @tag.parent.name %></EM> 
  <%= hidden_field(:tag, :parent_id ) %>
  <% end %>
</span>
<br/>

  <%= f.error_messages %>
  <%= f.label :name %>
  <%= f.text_field :name %><br/> 
  <%= f.label :description %>
  <%= f.text_field :description %><br/>
  <%= f.label :uri %>
  <%= f.text_field :uri %><br />
<%= f.label :Geocode %>
  <%= f.text_field :code %><br />
 <!--% @parents=Tag.find(:all); %-->
 <!-- %= collection_select(:tag, :id, @parents, :id, :name, options ={:prompt => "-Select a Parent"}, :class =>"tag") %-->
 
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', tags_path %>
