<h1>Listing locations</h1>
<% form_tag('locations', :method => "get") do %>
Name:<%= text_field_tag :name, params[:name] %>  
State (US):<%= text_field_tag :admin1, params[:admin1], {:size => 2} %>
Country:<%= text_field_tag :country, params[:country], {:size => 2} %>  
<%= submit_tag 'Search' %> <!-- To avoid commit=Search in the url --> 
<% end %>

<%= render :partial => 'locations', :locals => { :locations => @locations  } %>

<br />
<%= will_paginate @locations %>
<!-- %= link_to 'New location', new_location_path % -->
