<TABLE BORDER=1>
<tr>
<% fields= Array[
'alternatenames',
'latitude','longitude',
'feature_code',
'use_code',
'country_code','postal_code',
'street_address','city','state','phone','url',
'hours',
'elevation','maxelevation',
'source'];
 displayfields= Array['Name','Ratings','Geolocation','Feature','Uses','Hours',
 'Address','URL','Elevation','Source']
%>


  <% displayfields.each do |name| %>
  <th> <%= name.capitalize %></th>
 <%end%>
</tr>
 <tr>
 <% places.each do |location| %>
     <td><%= link_to location.name , location %></td>
     <!--% location.attributes.each do |f| %--> 
     <!--% fields.each do |f| %-->
        <td> <%= location.attributes['rating'] %></td>
          <td> <%= location.latitude %> , <%= location.longitude %></td>
          <td> <%= location.feature_code %></td>
          <td> <%= location.use_code %></td>
          <td> <%= location.hours %></td>
          <td> <%= location.street_address %>, <%= location.city %>,
            <%= location.state %> <%= location.country_code %> <%= location.postal_code %> <%= location.phone %></td>
          <td> <%  unless ( location.url.nil? ) %>
          <%= link_to  location.url , location.url %>
          <% end %> </td>
        <td> <%= location.attributes['elevation']%> / <%= location.attributes['maxelevation'] %>( <%= location.attributes['area'] %>)</td>
          <td> <%= location.source %></td>
     <td><%= link_to 'Edit', edit_place_path(location) %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
  
 </tr>
<% end %>
<br/>
</TABLE>
 



