<TABLE BORDER=1>
<tr>
<% fields= Array[
'alternatenames',
'latitude','longitude',
'feature_code',
'use_code',
'country_code','postal_code',
'street_address','city','state','phone','url',
'hours',
'elevation','maxelevation',
'source'];
 displayfields= Array['Name','Uses','Hours',
 'Geocode/Address/URL/Elevation','Note']
%>

  <% displayfields.each do |name| %>
  <th> <%= name.capitalize %></th>
 <%end%>
</tr>
 <tr>
 <% places.each do |location| %>
   <td><%= link_to location.name , location %>
	<br>
  <%= location.feature_code %>
	<br>
    Rating:<%= location.attributes['rating'] || 'N/A' %>
	<br>Source:<%= location.source %>
    <br>
    <%= link_to 'Edit', edit_place_path(location), :popup=>['editwindow', 'height=800,width=500'] %>
    <%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %>
     </td>
     <!--% location.attributes.each do |f| %--> 
     <!--% fields.each do |f| %-->
          <td size='10%'> <%= location.use_code %></td>
          <td> <%= location.hours %></td>
          <td>
		  <%  unless ( location.url.nil? ) %>
              <%= link_to  location.url , location.url,:popup => ['viewer', 'scrollbar=true,height=500,width=600,toolbar=no,location=no,directories=no,status=yes,menubar=yes,scrollbars=yes,resizable=yes'] %>
			  <br>
          <% end %>
          <%= location.latitude %> , <%= location.longitude %>
		  <%= location.street_address %>, <%= location.city %>,
        <%= location.state %> <%= location.country_code %> <%= location.postal_code %> <%= location.phone %>
		<br>
		<%= location.attributes['elevation']%> / <%= location.attributes['maxelevation'] %>( <%= location.attributes['area'] %>)</td>
          <td>
		  <%= location.note %>
		  </td>
  
 </tr>
<% end %>
<br/>
</TABLE>
 



